:root {
  --color--text: 255, 255, 255;
}
//195, 189, 189
.searchBox {
  display: flex;
  align-items: center;
  width: auto;
  border-radius: 55px;
  color: rgb(34, 34, 34);
  background-color: rgba(var(--color--text), 0.5);

  input {
    font-size: 15px;
    padding: 10px 0 10px 15px;
    width: 150px;
    border: 0;
    background: transparent;
    outline: none;
    transition: 2s;
  }
  .btn {
    color: #000;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
    padding-right: 10px;
  }
  .btn:hover {
    opacity: 1;
  }
}
.searchPage {
  padding: 15px;

  input {
    font-size: 20px;
    padding-left: 10px;
    width: 300px;
  }
}
.rigthSearch {
  padding: 5px;
  input {
    font-size: 15px;
    padding-left: 10px;
    width: 185px;
  }
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgb(34, 34, 34);
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgb(34, 34, 34);
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgb(34, 34, 34);
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgb(34, 34, 34);
}
