:root {
  --color--text: 255, 255, 255;
}
//195, 189, 189
.searchBox {
  display: flex;
  align-items: center;
  border-radius: 55px;
  color: rgb(34, 34, 34);
  background-color: rgba(var(--color--text), 0.5);

  input[type='text'] {
    font-size: 15px;
    border: 0;
    background: transparent;
    outline: none;
    transition: 2s;
  }
  .btn {
    color: #000;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
  }
  .btn:hover {
    opacity: 1;
  }
}
.mainPage {
  input[type='text'] {
    padding: 10px 0 10px 15px;
    width: 200px;
  }
  .btn {
    padding: 0 7px 0 0;
  }
}
.searchPage {
  width: 330px;
  input[type='text'] {
    padding: 10px 4px 10px 15px;
    width: 277px;
  }
}
::-webkit-input-placeholder {
  color: rgb(34, 34, 34);
}
:-moz-placeholder {
  color: rgb(34, 34, 34);
}
::-moz-placeholder {
  color: rgb(34, 34, 34);
}
:-ms-input-placeholder {
  color: rgb(34, 34, 34);
}
