.toDay {
  color: white;
  font-family: sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}
.centerS {
  color: wheat;
  font-family: sans-serif;
  font-size: 11px;
  text-align: center;
}
.numInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-family: sans-serif;
  line-height: 1.8;
  font-size: 19px;
}

.mainDay {
  color: white;
  font-family: sans-serif;
  font-size: 90px;
  text-align: center;
  margin: 25px 0;

  .pos {
    position: relative;
    display: inline-block;
  }
  .cOrF {
    position: absolute;
    right: -16px;
    top: 0px;
    font-size: 34px;
    color: gray;
  }
}
