.switch {
  font-family: sans-serif;
  position: relative;
  display: inline-block;
  width: 68px;
  height: 38px;
  margin-left: 30px;
  cursor: pointer;

  &::before {
    position: absolute;
    content: 'C';
    font-size: 25px;
    left: 9px;
    bottom: 4px;
    border-radius: 50px;
    color: white;
    z-index: 5;
    transition: 0.4s;
  }

  &::after {
    position: absolute;
    content: 'F';
    font-size: 25px;
    right: 11px;
    bottom: 4px;
    border-radius: 50px;
    color: white;
    z-index: 5;
    transition: 0.4s;
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);

  &::before {
    position: absolute;
    content: '';
    height: 30px;
    width: 30px;
    left: 4px;
    bottom: 4px;
    border-radius: 50px;
    background-color: rgba(38, 39, 48, 0.8);
    transition: 0.4s;
  }
}

input:checked + {
  .slider::before {
    transform: translateX(30px);
  }
}
